aiohttp==3.8.4
aiosignal==1.3.1
altair==4.2.2
altgraph==0.17.3
async-generator==1.10
async-timeout==4.0.2
attrs==22.2.0
audio-recorder-streamlit==0.0.8
beautifulsoup4==4.12.2
behave==1.2.6
blinker==1.5
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
comtypes==1.1.14
contourpy==1.0.7
cryptography==40.0.1
cssselect==1.2.0
customtkinter==5.1.2
cycler==0.11.0
darkdetect==0.8.0
decorator==5.1.1
entrypoints==0.4
exceptiongroup==1.1.1
execnet==1.9.0
fasteners==0.18
filelock==3.11.0
Flask==2.2.3
fonttools==4.39.2
frozenlist==1.3.3
gitdb==4.0.10
GitPython==3.1.31
gTTS==2.3.1
h11==0.14.0
idna==3.4
importlib-metadata==6.1.0
iniconfig==2.0.0
itsdangerous==2.1.2
jaraco.classes==3.2.3
Jinja2==3.1.2
jsonschema==4.17.3
keyring==23.13.1
kiwisolver==1.4.4
lxml==4.9.2
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
mdurl==0.1.2
more-itertools==9.1.0
multidict==6.0.4
numpy==1.24.2
openai==0.27.2
opencv-python==4.7.0.72
outcome==1.2.0
packaging==23.0
pandas==1.5.3
parameterized==0.9.0
parse==1.19.0
parse-type==0.6.0
pdbp==1.2.8
pefile==2023.2.7
Pillow==9.4.0
platformdirs==3.2.0
pluggy==1.0.0
protobuf==3.20.3
py==1.11.0
pyarrow==11.0.0
PyAudio==0.2.13
pycparser==2.21
pydeck==0.8.0
Pygments==2.15.0
pyinstaller==5.9.0
pyinstaller-hooks-contrib==2023.1
pylab-sdk==1.3.2
Pympler==1.0.1
pynose==1.4.2
pyOpenSSL==23.1.1
pyotp==2.8.0
pyparsing==3.0.9
pyreadline3==3.4.1
pyrsistent==0.19.3
PySocks==1.7.1
pytest==7.3.0
pytest-forked==1.6.0
pytest-html==2.0.1
pytest-metadata==2.0.4
pytest-ordering==0.6
pytest-rerunfailures==11.1.2
pytest-xdist==3.2.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pyttsx3==2.90
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
requests==2.28.2
requests-toolbelt==0.10.1
rich==13.3.3
sbvirtualdisplay==1.2.0
screeninfo==0.8.1
selenium==4.8.3
seleniumbase==4.13.24
semver==2.13.0
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
SpeechRecognition==3.10.0
streamlit==1.20.0
streamlit-ace==0.1.1
streamlit-chat==0.0.2.2
tabcompleter==1.1.0
tk==0.1.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
tornado==6.2
tqdm==4.65.0
trio==0.22.0
trio-websocket==0.10.2
ttkwidgets==0.13.0
typing_extensions==4.5.0
tzdata==2023.2
tzlocal==4.3
urllib3==1.26.15
validators==0.20.0
watchdog==3.0.0
webdriver-manager==3.8.5
Werkzeug==2.2.3
wsproto==1.2.0
yarl==1.8.2
zipp==3.15.0
